{% extends "base_auth.html" %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5 shadow" style="border-radius: 8px;">
                <div class="card-body p-4">
                    <h4 class="card-title text-center mb-4">Reset Password</h4>
                    <form action="{% url 'reset-password' %}" method="post">
                        {% csrf_token %}
                        {% include 'partials/_message.html' %}
                        {% comment %} <div class="form-group mb-3">
                            <input type="text" name="username" placeholder="Username" id="usernameField"
                                class="form-control form-control-sm" value="{{fieldValues.username}}"/>
                            <div class="invalid-feedback" style="display: none;"></div>
                        </div> {% endcomment %}
                        <div class="form-group mb-3">
                            <input type="email" name="email" placeholder="Enter your Registered email" id="emailField"
                                class="form-control form-control-sm emailField" value="{{fieldValues.email}}" />
                            <div class="invalid-email-feedback" style="display: none;"></div>
                        </div>
                        {% comment %} <div class="form-group mb-4 position-relative">
                            <input type="password" name="password" placeholder="Password" id="passwordField"
                                class="form-control form-control-sm" />
                            <span class="small togglePWD position-absolute"
                                style="right: 10px; cursor: pointer; color: blue;">SHOW</span>
                        </div> {% endcomment %}
                        <input type="submit" value="Send mail" class="btn btn-block btn-primary py-2 submit-btn">
                    </form>
                    <div class="text-center mt-3">
                        <a href="{% url 'register' %}" class="small">New Registration?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% comment %} <script src="{% static 'js/register.js' %}"></script> {% endcomment %}


{% endblock content %}