{% extends "base_auth.html" %}
{% load static %}

{% block content %}


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5 shadow" style="border-radius: 8px;">
                <div class="card-body p-4">
                    <h4 class="card-title text-center mb-4">Set New Password</h4>
                    <form action="{% url 'set-new-password' uuid token %}" method="post">
                        {% csrf_token %}
                        {% include 'partials/_message.html' %}
                        <div class="form-group mb-4 position-relative">
                            <input type="password" name="password" placeholder="Enter Password" id="passwordField"
                                class="form-control form-control-sm" />
                            <span class="small togglePWD position-absolute"
                                style="right: 10px; cursor: pointer; color: blue;">SHOW</span>
                        </div>
                        <div class="form-group mb-4 position-relative">
                            <input type="password" name="confirm" placeholder="Confirm Password" id="confirmField"
                                class="form-control form-control-sm" />
                            <span class="small toggleConfirm position-absolute"
                                style="right: 10px; cursor: pointer; color: blue;">SHOW</span>
                        </div>
                        <input type="submit" value="Submit" class="btn btn-block btn-primary py-2 submit-btn">
                    </form>
                    <div class="text-center mt-3">
                        <a href="{% url 'login' %}" class="small">Already Registered?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/set_pwd.js' %}"></script>

{% endblock content %}


